<form [formGroup]="utilitiesForm">
	<div>
		<button type="button" [disabled]="disableS3" (click)="sendAcceptedToS3()">Send Accepted Articles to s3</button>

	</div>

	<table>
		<tr>
			<td>start</td>
			<td>finished</td>
			<td>seconds</td>
			<td># To Send</td>
			<td># sent</td>
			<td>Details</td>
		</tr>
		<tr *ngFor="let s3j of s3Jobs">
			<td>{{ s3j.startDate | date: 'M/d/yyyy h:mm:ss a' }}</td>
			<td>
				<span style="background-color: green;" *ngIf="s3j.finished == 1">DONE</span>
				<span *ngIf="s3j.finished == 0">Processing</span>
			</td>			
			<td>{{ s3j.elapsedSeconds }}</td>
			<td>{{ s3j.articlesToSend }}</td>
			<td>{{ s3j.articlesSent }}</td>
			<td [innerHTML]="s3j.articles | replaceLineBreaks" style="text-align:left;"></td>
		</tr>
	</table>

	<div>
		<button type="button" [disabled]="disableBuzz" (click)="getBuzzSumo()">Get BuzzSumo</button>
	</div>
	<table style="">
		<tr>
			<td>start</td>
			<td>finished</td>
			<td>seconds</td>
			<td># from buzz</td>
			<td># youtube</td>
			<td># > 700</td>
			<td># dropped</td>
			<td># created</td>
			<td># updated</td>
		</tr>
		<tr *ngFor="let bj of buzzJobs">
			<td>{{ bj.startDate | date: 'M/d/yyyy h:mm:ss a' }}</td>
			<td>
				<span style="background-color: green;" *ngIf="bj.finished == 1">DONE</span>
				<span *ngIf="bj.finished == 0">Processing</span>
			</td>			
			<td>{{ bj.elapsedSeconds }}</td>
			<td>{{ bj.articlesReturned }}</td>
			<td>{{ bj.articlesYoutube }}</td>
			<td>{{ bj.articles700 }}</td>
			<td>{{ bj.articlesDropped }}</td>
			<td>{{ bj.articlesCreated }}</td>
			<td>{{ bj.articlesUpdated }}</td>
		</tr>
	</table>
	<div>
		<button type="button" (click)="updateMetrics()">Update Articles</button>
	</div>
	<!--<table style="">
		<tr>
			<td>start</td>
			<td>finished</td>
			<td>seconds</td>
			<td># from buzz</td>
			<td># user</td>
			<td># updated</td>
		</tr>
		<tr *ngFor="let bj of buzzJobs">
			<td>{{ bj.startDate | date: 'M/d/yyyy h:mm:ss a' }}</td>
			<td>
				<span style="background-color: green;" *ngIf="bj.finished == 1">DONE</span>
				<span *ngIf="bj.finished == 0">Processing</span>
			</td>			
			<td>{{ bj.elapsedSeconds }}</td>
			<td>{{ bj.articlesBuzz }}</td>
			<td>{{ bj.articlesUser }}</td>
			<td>{{ bj.articlesUpdated }}</td>
		</tr>
	</table>-->
</form>