/* ##### Stackable Table #####
   Inspired from: https://css-tricks.com/examples/ResponsiveTables/responsive.php
*/
@media only screen and (min-width: 768px) {
    :host td {
        min-width: 80px;
        padding: 0.5em;
        border: 1px solid #EEE;
        vertical-align: top;
        /* https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
        /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
        /* -ms-word-break: break-all;
    
        /* Non standard for webkit */
        /* word-break: break-all; */
        /* -moz-hyphens: auto; */
        /* -ms-hyphens: auto; */
        /* -webkit-hyphens: auto; */
        /* hyphens: auto; */
    }
  
    :host .button-cell {
        padding: 0.2em;
    }
}
    
@media (max-width: 768px) {
    :host td {
        display: block;
        position: relative;
        margin: 0 0 0 150px;
        padding: 6px;
        border-left: 1px solid #EEE;
    }
    :host td::before {
        position: absolute;
        top: 6px;
        left: -145px;
        font-weight: bold;
        white-space: nowrap;
    }
  
    /* Clunky that you have to define table headers here so it works for mobile display, sorry! */
    :host .c_date_added::before {
        content: "Date Added";
    }
  
    :host .c_title::before {
        content: "Title";
    }
  
    :host .c_url::before {
        content: "URL";
    }
  
    :host .c_status::before {
        content: "Status";
    }
  
    :host .c_action::before {
        content: "Action";
    }
  
    :host .c_select::before {
        content: "Select";
    }
  
  }