    <td> {{ articleRow.publishDate }}</td>
    <td> {{ articleRow.title }}</td>
    <td> {{ articleRow.url }} </td>
    <td> {{ articleRow.statusText }} </td>
    <td> 
        <a href="#" class="button-2 w-button" onclick="showModal(this)" 
            data-header="Submit article 26239" 
            data-description="Are you sure you want to submit this article to TagWorks?">
            Submit</a>&nbsp;
        <a href="#" class="button-3 w-button" onclick="showModal(this)"
            data-header="Rejected article 26239"
            data-description="Article removed from the workflow. It can be re-entered 
            into the workflow again if you so choose.">
            Reject</a>
    </td>