body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}
p {
  font-family: 'Times New Roman', serif;
  font-size: 16px;
  line-height: 2;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

.highlighter {
    position: relative;
    display: inline-block;
}
.highlighter .highlightertext {
    visibility: hidden;
    width: 110px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    padding: 3px;
    bottom: 100%;
    opacity: 1;
    color: black;
    background-color: #C86EFF;
    position: absolute;
    z-index: 1;
}
.highlighter:hover .highlightertext {
    visibility: visible;
}

#percentage {
  font-size: 2.5em;
  color: #666;

}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}
#header {
  height: 50px;
  background-color: rgb(83, 83, 89);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 35px;
  padding-left: 10px;

}
#spacer {
  height: 50px;
}

#footer
{
    height: 50px;
    background-color: rgb(83, 83, 89);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
}
