/*font = avenir next pro regular by linotype*/
.header {
    display: block;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-right: 0;
    font-family: "Avenir Next";
}
.articleTitle {
    display: block;
    font-size: 1em;
    margin-bottom: 0.67em;
    margin-left: 100px;
    margin-right: 0;
    font-family: "Avenir Next";
}

.companyDate {
    display: block;
    font-size: .67em;
    margin-bottom: 0.5em;
    margin-left: 100px;
    margin-right: 0;
    font-family: "Avenir Next";
}

.author {
    display: block;
    font-size: .67em;
    margin-bottom: 0.5em;
    margin-left: 100px;
    margin-right: 0;
    font-family: "Avenir Next";
}


.vertical-menu {
    width: 700px;
    height: 900px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.1px solid grey;
    margin-left: 10px;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4F6FAB;
    color: white;
}