

.field-label-2 {width: 200px; display: inline-block;}
/* The Section for choosing an action on multiple articles  */
#act_multiple {
  display: none; /* Hidden by default */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal h1 {
  font-size: 2em;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close_modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_modal:hover,
.close_modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ##### Stackable Table #####
   Inspired from: https://css-tricks.com/examples/ResponsiveTables/responsive.php
*/
@media only screen and (min-width: 768px) {
  .table3 {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
  }

  .table3 thead tr {
    background: #62abeb;
  }

  .table3 th {
    min-width: 80px;
    padding: 0.5em;
    border: 1px solid #EEE;
    vertical-align: top;
    /* https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    /* -ms-word-break: break-all;

    /* Non standard for webkit */
    /* word-break: break-all; */
    /* -moz-hyphens: auto; */
    /* -ms-hyphens: auto; */
    /* -webkit-hyphens: auto; */
    /* hyphens: auto; */
  }

  .table3 .button-cell {
    padding: 0.2em;
  }

  .table3 th {
    position: relative;
    padding: 0.5em 30px 0.5em 0.5em;
    text-align: left;
  }

  .sort__asc, .sort__desc, .sorting {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 12px;
    border: none;
  }

  .sorting {
    background: no-repeat url("/assets/images/sort_brown.png") 12px 8px;
  }

  .sort__desc {
    background: no-repeat url("/assets/images/sort_desc_brown.png") 12px 8px;
  }

  .sort__asc {
    background: no-repeat url("/assets/images/sort_asc_brown.png") 12px 8px;
  }
}

@media (max-width: 768px) {
  /* .table3 td  is handled in article-row compnent */
  .table3 table,
  .table3 thead,
  .table3 tbody,
  .table3 th,
  .table3 tr {
    display: block;
  }

  .table3 thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table3 tbody {
    margin: 0 0 15px;
    border: 1px solid #EEE;
  }
  .table3 tbody tr:nth-child(even) {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    background: #6ec1ea;
  }

}
