<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation w-nav">
<div class="navigation-items">
	<div class="menu-button w-nav-button">
		<img src="/assets/images/menu-icon.png"
			width="22" alt="" class="menu-icon"/>
	</div>
	<a href="#" class="logo-link w-nav-brand w--current"><h1 class="heading">Article Dashboard</h1></a>
</div>
</div>
<div class="section">
	<div class="user-container w-container"><a href="/logout" class="paragraph-small">Log Out</a></div>
</div>
<form [formGroup]="dashboardForm">
	<div class="section">
		<label for="statusFilter">Filter</label>
		<select id="statusFilter" name="statusFilter" formControlName="statusFilter" class="select-field w-select">
			<option value="all">All</option>
			<option value="popular">Popular</option>
			<option *ngFor="let status of statuses" [value]="status.statusCode">
			{{status.statusCode}} - {{status.statusText}}</option>
		</select>
	</div>
	<div class="section">
	<div class="form-block w-form">
		<label for="searchUrl" class="field-label-2">URL Search</label>
		<input type="text" class="" formControlName="searchUrl" (keyup.enter)="searchUrl()" /><button type="button" (click)="searchUrl();">Search</button>

		<br>

		<label for="searchTitle" class="field-label-2">TITLE Search</label>

		<input type="text" class="" formControlName="searchTitle" (keyup.enter)="searchTitle()" />
		<button type="button" (click)="searchTitle();">Search</button>
	</div>
		<select formControlName="bulkStatus">
		<option *ngFor="let status of statuses" [value]="status.statusCode">{{status.statusCode}} - {{status.statusText}}</option>
	</select>
		<button class="button bulksubmit" (click)="submitBulk()">Submit Bulk</button>
	</div>

	<div class="section" style="display:inline; max-width: 80%">
	 <table class="table3" border="1px solid">
		<thead>
			<tr>
				<th>Select
					<label class="container">
  					<input name="checkAllArticles" formControlName="checkAll" type="checkbox" style="vertical-align: middle;" aria-label="On selection all articles will be selected," title="On selection all articles will be selected.">
  					<span class="checkmark"></span>
					</label>

					<button aria-label="Sort Object Select column descending" class="sorting" (click) = "onClick('sortChecks')"></button>
				</th>
				<th>Date Added
					<button aria-label="Sort Object Date Added column descending" class="sorting" (click) = "onClick('dateAdded')"></button>
				</th>
				<th>Title
					<button aria-label="Sort Object Title column descending" class="sorting" (click) = "onClick('title')"></button>
				</th>
				<th>URL
					<button aria-label="Sort Object URL column descending" class="sorting" (click) = "onClick('URL')"></button>
				</th>
				<th>Status
					<button aria-label="Sort Object Status column descending" class="sorting" (click) = "onClick('status')"> </button>
				</th>
				<th>Action
					<button aria-label="Sort Object Action column descending" class="sorting" (click) = "onClick('status')"></button>

				</th>
				<th>Total Shares
					<button aria-label="Sort Object Total Shares column descending" class="sorting" (click) = "onClick('totalShares')"></button>
				</th>
				<th> Text</th>

			</tr>
		</thead>
	    <tbody>
	    	<ng-container *ngFor="let a of articles">
		    	<tr>
		    		<td class="five-percent">
		    			<input name="articleCheckbox" type="checkbox" style="vertical-align: middle;" value="a.id">
		    		</td>
		    		<td class="five-percent">{{a.publishDate | date: 'shortDate'}}</td>
		    		<td class="five-percent">
		    			{{a.articleTitle}}
		    			<button type="button" (click)="toggle(a.id)">details</button>
		    		</td>
		    		<td class="five-percent">{{a.url}}</td>
		    		<td class="five-percent">{{a.statuses[0].statusCode}}</td>
		    		<td class="five-percent">
		    			<select (change)="changeStatus(a.id, $event)">
							<option [value]="a.statuses[0].statusCode">
								{{a.statuses[0].statusCode}} - {{a.statuses[0].statusText}}
							</option>
 							<ng-container *ngFor="let status of statuses">
								<option *ngIf="a.statuses[0].statusCode != status.statusCode" [value]="status.statusCode">
									{{status.statusCode}} - {{status.statusText}}
								</option>
							</ng-container>
						</select>
		    		</td>
					<td class="five-percent"> {{a.totalShares}}</td>
					<td class="fifty-percent" >
						<div [innerHTML]="a.articleText | replaceLineBreaks" style="overflow: scroll; max-height: 300px;">
						</div>
					</td>
		    	</tr>
		    	<tr>
		    		<td *ngIf="articleShow[a.id]" style="overflow:hidden" colspan="5">
		    			<pre>{{ a | json }}</pre>
		    		</td>
		    	</tr>
	    	</ng-container>

	    </tbody>
	</table>
	</div>

	<select formControlName="bulkStatus">
		<option *ngFor="let status of statuses" [value]="status.statusCode">{{status.statusCode}} - {{status.statusText}}</option>
	</select>
	<button class="button bulksubmit" (click)="submitBulk()">Submit Bulk</button>
</form>
