/* -- global styles -- */

body {
	font-family: 'Lato', sans-serif;
	padding: 1rem;
	text-align: center;
	background: #fafafa;
	margin: 1rem;
}

::selection {
	color: white;
	background: #3f69af;
}

h1 {
	color: #323648;
	font-size: 1.4rem;
	white-space: nowrap;
}

h2 {
	font-size: 1rem;
	margin: 0px;
	font-weight: 500;
	color: #323648
}

a {
	color: #323648;
	text-decoration: none;
}

a:hover * {
	color: #3f69af;
}

footer {
	font-size: 10px;
}

footer > a {
	color: darkgray;
	position: relative;
	top: 1rem;
}
footer > a:hover {
	text-decoration: underline;
}

/* -- button -- */

.button {
	cursor: pointer;
    background-color: #3f69af;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    letter-spacing: 1.5px;
    padding: 4px 42px;
    margin: 15px 0px;
    -webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
	color: white;
}

.button:hover {
    background-color: #686199;
    color: white;
    text-decoration: none;
}

.button > a {
    color: white;
    font-weight: 300;
    font-size: .92rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}

.button[disabled], 
.button[disabled]:hover, 
.button[disabled]:focus, 
.button[disabled]:active {
	background: lightgray;
	pointer-events: none;
}

/* -- website url -- */

input {
	border-style: none none solid none;
	border-width: 1px;
	border-color: black;
	background-color: inherit;
	overflow: scroll;
	text-align: center;
	padding: 0 2px;
	width: 13rem;
}

.inputbox {
	background-color: white;
	border: none;
	border-radius: 6px;
	padding: 1rem;

}

/* -- layout -- */

.container {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
}

#logo {
	display: flex;
	justify-self: start;
	flex-wrap: nowrap;
	align-items: center;
	margin: 1rem;
}

#logo > * {
	margin: 0.2rem;
}

/* -- misc -- */

.shadow {
    box-shadow:
        0  5px 10px rgba(154,160,185,0.05),
		0 15px 40px rgba(166,173,201,0.2);

}

output {
	height: 1.3rem;
}
